# /etc/systemd/system/7d2d_rebirth_run3.service
[Unit]
Description=7D2D dedicated server Rebirth RUN 3 - The Purge
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=5
OnFailure=7d2d-failure.service

[Service]
ExecStart=/bin/bash /7d2d_run3_purge/startserver.sh -configfile=serverconfig.xml
User=steam
Group=steam

StandardOutput=journal
StandardError=journal
SyslogIdentifier=7D2D_rebirth_run3

#Restart=on-failure
Restart=always
RestartSec=10

ExecStartPost=/usr/bin/bash -c 'echo "Service REBIRTH RUN 3 restarted at $(date)" >> /home/steam/failures.log'
WorkingDirectory=/7d2d_run3_purge
Type=simple